#footer a[href="/"]:not(.select-none) {
  max-width: none !important;
  overflow: visible !important;
  text-overflow: clip !important;
  white-space: normal !important;
}

#footer > div > div:first-child > div:first-child {
  display: none;
}

@media (min-width: 768px) {
  #footer > div > div:first-child > div:last-child {
    width: 100%;
  }

  #footer > div > div:first-child > div:last-child > div,
  #footer > div > div:first-child > div:last-child > div > div {
    justify-content: flex-start !important;
  }

  #footer > div > div:last-child > div:first-child {
    margin-left: auto;
  }
}
